.btn {
  padding: 6px 30px;
}
.login_btn {
  padding: 5px 80px;
  margin-right: 19px;
}
.text {
  position: absolute;
  margin: 3px 10px;
  color: rgb(151, 147, 147);
}
.form_input {
  padding-left: 48px;
  padding-bottom: 16px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(218, 215, 215);
  width: 100%;
  outline: none;
}
.form_input::placeholder {
  color: rgb(187, 182, 182);
}
.divider {
  display: block;
  background-color: blue;
  width: 7%;
  height: 5px;
  margin: 30px 0px 100px 0px;
}
.f_password {
  text-decoration: none;
  font-size: 15px;
  color: rgb(112, 112, 112);
}
.login_section {
  margin-top: 39%;
}

.icon_facebook {
  margin-right: 10px;
  color: white;
  background-color: #183c8a;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
}
.icon_facebook:hover,
.icon_twitter:hover,
.icon_google:hover {
  color: white;
}
.icon_twitter {
  margin-right: 10px;
  color: white;
  background-color: #348df3;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
}
.icon_google {
  margin-right: 10px;
  background-color: #dd4b39;
  color: white;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
}

.toggle {
  background-color: none;
}
.toggle [type="button"] {
  color: rgb(24, 11, 11);
}

.f_password_link {
  text-decoration: none;
  font-size: 13px;
  color: rgb(112, 112, 112);
  cursor: pointer;
  padding: 0;
}
.f_password_link:hover {
  text-decoration: none;
}
.signup_link {
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 0px;
}
.signup_link:hover{
  text-decoration: none;
}
.signup_link{
  text-decoration: none;
}
.overFlow {
  overflow: none;
}

@media only screen and (max-width: 913px) {
  .btn {
    padding: 5px 15px;
  }
  .login_btn {
    padding: 5px 57px;
    margin-right: 19px;
  }
}

@media only screen and (max-width: 450px) {
  .login_btn {
    padding: 5px 70px;
  }
  .signup_btn,
  .icon_facebook,
  .icon_twitter,
  .icon_google {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 360px) {
  .signup_btn {
    margin-bottom: 20px;
  }
  .icon_facebook,
  .icon_twitter,
  .icon_google {
    margin-right: 4px;
  }
  .login_btn {
    padding: 3px 56px;
    margin-right: 4px;
  }
  .login_section {
    margin-top: 55%;
  }
  
}
